<div class="content">
  <h3>Supermarket - buy groceries here</h3>
  <div style="width: 50%;margin: 10px 0;">
    <%= form_with model: [@order, OrderItem.new], data: { remote: true } do |f| %>
      <div class="field">
        <div class="control">
          <div class="select">
            <%= f.select :product_id, options_from_collection_for_select(Product.all, :id, :name, nil) %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.number_field :quantity, class: 'input' %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit 'Add', class: 'button is-success' %>
        </div>
      </div>
    <% end %>
  </div>

  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Rate</th>
      <th style="width: 30%;">Quantity</th>
      <th style="width: 5%;"></th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product_name %></td>
        <td><%= order_item.rate %></td>
        <td>
          <%= form_with model: [@order, order_item] do |f| %>
            <div class="field is-grouped">
              <div class="control">
                <%= f.number_field :quantity, class: 'input' %>
              </div>
              <div class="control">
                <%= f.submit 'save', class: 'button' %>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <%= link_to 'Remove', order_order_item_path(order_item), method: :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="field is-grouped" style="margin: 10px 0;">
    <div class="control">
      <%= link_to 'Cancel', order_path(@order), method: :delete, class: 'button' %>
    </div>
    <div class="control">
      <%= link_to 'Confirm selection', order_path(@order), class: 'button is-success' %>
    </div>
  </div>
</div>