<div class="content">
  <h3>Supermarket - buy groceries here</h3>
  <div class="field">
    <div class="control">
      <%= button_to "New Order", orders_path, class: 'button is-success' %>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>S.no</th>
      <th>Date of order</th>
      <th>Order value</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= order.date_of_order %></td>
        <td><%= order.bill_amount %></td>
        <td><%= link_to 'Click to summary', order_path(order) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>