<div class="content">
  <h3>Order summary</h3>
  <%= link_to 'Home', root_path %>
  <table>
    <thead>
    <tr>
      <th>S.no</th>
      <th>Item</th>
      <th class="has-text-right">Rate</th>
      <th class="has-text-right">Qty</th>
      <th class="has-text-right">Amount</th>
      <th class="has-text-right">Discount</th>
      <th class="has-text-right">BillAmount</th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each_with_index do |order_item, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= order_item.product_name %></td>
        <td class="has-text-right"><%= order_item.rate %></td>
        <td class="has-text-right"><%= order_item.quantity %></td>
        <td class="has-text-right"><%= order_item.amount %></td>
        <td class="has-text-right"><%= order_item.discount %></td>
        <td class="has-text-right"><%= order_item.bill_amount %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5"></td>
      <td class="has-text-right has-text-weight-bold">Total</td>
      <td class="has-text-right has-text-weight-bold"><%= @order.total_amount %></td>
    </tr>
    </tfoot>
  </table>

  <div class="columns">
    <div class="column">
      <%= form_with model: [@order] do |f| %>
        <div class="field">
          <label class="label">Coupon Code</label>
          <div class="control">
            <%= f.text_field :coupon_code, class: 'input' %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit 'Apply coupon', class: 'button is-info' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="column">
      <table>
        <tbody>
        <tr>
          <td>Coupon discount</td>
          <td><%= @order.coupon_discount %></td>
        </tr>
        <tr>
          <td>Order amount</td>
          <td><%= @order.bill_amount %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="field is-grouped" style="margin: 10px 0;">
    <% unless @order.confirm_order %>
      <div class="control">
        <%= link_to 'Modify order', edit_order_path(@order), class: 'button' %>
      </div>
    <% end %>

    <div class="control">
      <%= link_to 'Confirm order', confirm_order_path(@order), method: :put, class: 'button is-success' %>
    </div>
  </div>
</div>