<div class="content">
  <h3>List of Products</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Combo</th>
      <th>Discount</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.combo %></td>
        <td><%= product.discount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>